*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5;
    font-family: 'Roboto', sans-serif;
}

header{

    background-color: #2d4a22;
    padding: 2rem 0;
    text-align: center;

}

h1{

}