*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 93.75%;
}

body{
    background-color: #f0f2f5;
    font-family: 'Roboto', sans-serif;
}

header{

    background-color: #2d4a22;
    padding: 2rem 0 10rem;
    text-align: center;

}
  #logo{
      color: #ffffff;
      font-weight: 100;
  }

  .conteiner{

    width: min(90vw,800px);
    margin: auto;
  }

  h2{
      margin-top: 3.2rem;
      margin-bottom: 0.843rem;
      color: #333f5f;
      font-weight: 400;
  }
  
  #balance{
      margin-top: -8rem;
  }

  #balance h2{
      color: #ffffff;
  }

  .card{
      background-color: #ffffff;
      padding: 1.5rem 2rem;
      border-radius: 0.25rem;
      margin-bottom: 2rem;
      color: #333f5f;
  }

  .card h3{

    font-weight: 400;
    font-size: 1rem;
    display: inline;
   

  }

  .card p{

    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;

  }

  .card-total{
      background-color: #2ECC71;
      color: #ffffff;
      padding: 1.5rem 2rem;
      border-radius: 0.25rem;
      margin-bottom: 2rem;

  }

  .card-total h3{

    font-weight: 400;
    font-size: 1rem;
    display: inline;
   

  }

  .card-total p{

    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;

  }

  a{
      color: #28AD60;
      text-decoration: none;
  }

  a:hover{

    color: #104727;

  }

  .button-new{
       margin-bottom: .8rem;
       display: inline-block;
       padding: 10px;
  }

  #transaction{
    display: block;
    overflow-x: auto;
    width: 100%;
  }

  #data-table{

    width: 100%;
    border-spacing: 0 0.5rem;
    
      
  }

  table th{

    
    padding: 1rem 2rem;
    font-weight: 900;
    color: #333f5f;
     text-align: left;

  }

  table td{
      
     color:#5D6D7E;
      font-weight: 400;
      padding: 0.5rem;
  }

  table tr{
      opacity: 0.7;
  }

  table tr:hover{
      opacity: 1;
  }

  .modal-overlay{

    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
  }

  .modal-overlay active{
    opacity: 1;
    visibility: visible;

  }

  .modal{
      background-color: #f0f2f5;
      padding: 2.4rem;
      position: relative;
  }

  

  footer{
      text-align: center;
      padding: 4rem 0 2rem;
      opacity: 0.6;
  }

  @media(min-width:800px){

    html{
        font-size: 87.5%;
    }

    

  }
